body{
  background: #58D3F7;
  margin: 0;
  padding: 0;
}
header{
  position: absolute;
  width: 100%;
  top:0;
  right: 0;
  left: 0;
}
nav{
  width: 100%;
  background: #2E97B3  ;
}
 nav button{
   margin: 5px 5px;
 }
 nav h1{
   display: inline-block;
   margin: 5px 10%;
   margin-right: 13%;
   color: skyblue;
 }
 .buttons{
   margin-top: 5px 0;
   margin-left: 19%;
 }
 header h2,header p{
   margin: 15px 5px;
 }
 header .menu{
   margin:15px 0;
   margin-left: 46%;
 }
 .buttons,header h2,header p,header p a{
   display: inline-block;
   color: white;
 }
 nav input{
   margin: 0;
   padding: 0;
   outline: none;
   border: none;
   background-color: inherit;
 }
 nav button,nav .input, .buttons button{
   display: inline-block;
   border: none;
   padding: 10px;
   background-color: skyblue;
   color: white;
 }
 section{
   margin: 10% 0;
 }
 section p{
   padding: 10px;
   width:250px;
   border: none;
   background: #2E97B3;
   color: white;
 }
 #list-container{
   display: inline-block;
 }

 .div-style{
   width:170px;
   height: 70px;
   padding: 5px;
   width: 250px;
   background-color: white;
   display: inline-block;
 }
 .input-style{
   outline: none;
   border:none;
   width: 250px;
   height: 30px;
   background:#E4E8E9;
 }

.button-style, .newButton-style{
  outline: none;
  border: none;
  margin-top: 8px;
  padding: 5px;
  background-color: #5BF696;
  color: white;
  border-radius: 2px;
}
.button-style:before{
  content:'GUARDAR';
}
.save-style{
  display: inline-block;

  background:transparent;
  margin: 0;
  padding: 0;
}
.containerTareas-style{
  padding: 10px;
  margin-right: 5px;
  display: inline-block;
  background: white;

}
.newText-style{
  background:white;
  color: black;
}
.anchor-style{
  width: 100%;
  height:30px;
  display: block;
  color: gray;
  background:#E4E8E9;
}
.textarea-class{
  display: block;
  background: #E4E8E9;
}
.newPharraphe-style{
  background-color:#E4E8E9;
  color:black;
  border-radius: 5px;
}
